<html>
<title>Taller 1: Descucrimiento y Procesamiento Básico de Fuentes
</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card-2">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-opennav w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/index" class="w3-bar-item w3-button w3-padding-large w3-hide-small">HOME</a>
    <div class="w3-hide-small w3-dropdown-hover">
      <a href="javascript:void(0)" class="w3-padding-large w3-button" title="More">Taller 1 <i class="fa fa-caret-down"></i></a>     
      <div class="w3-dropdown-content w3-white w3-card-4">
        <a href="/spider">Spider</a>
        <a href="/rssfeeds">RSS Feeds</a>
      </div>
    </div>
    <a href="/taller2" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Taller 2</a>
    <a href="/taller3" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Taller 3</a>
  </div>
</div>


<!-- The Home Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="home">
    <h2 class="w3-wide">Grupo 7</h2>
    <p class="w3-opacity"><i>Análisis de Información sobre Big Data, Uniandes 2017-10</i></p>
    <p class="w3-justify"> Presentación de resultados del Grupo 7 en el primer taller de Análisis de Información sobre Big Data: Descubrimiento y Procesamiento Básico de Fuentes. </p>
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p class="w3-opacity"><i>Miguel Alfonso Feijoo García</i></p>
      </div>
      <div class="w3-third">
        <p class="w3-opacity"><i>Juan José Diaz Baquero</i></p>
      </div>
      <div class="w3-third">
        <p class="w3-opacity"><i>Juan Camilo Ortiz Román</i></p>
      </div>
    </div>
  </div>
<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</body>
</html>
